.btn {
    min-width: 85px;
}
.btn-sm {
    min-width: 70px;
}

body {
    font-family: Quicksand, 'IBM Plex Sans KR', 'Noto Sans Korean', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert-dismissible {
    font-size: 20px;
    text-align: center;
}

.nav-link.active {
    text-decoration: underline 1px;
    text-underline-offset: 7px;
}

#floatingBtn {
    position: fixed;
    bottom: 30px;
    right: 2.5vw;
    z-index: 5;
    min-width: 50px;
    height: 48px;
    border-radius: 17px;
    border: 1.5px solid white;
    line-height: 28px;
}


.theme1 {
    background-color: #264653!important;
}

.theme2, .btn-success {
    background-color: #44919b;
    border-color: #44919b;
}
.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #44919b;
    --bs-btn-border-color: #44919b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #345968;
    --bs-btn-hover-border-color: #345968;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #345968;
    --bs-btn-active-border-color: #345968;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5d6669;
    --bs-btn-disabled-border-color: #5d6669;
}

.theme3 {
    background-color: #90c9c1;
    border-color: #90c9c1;
}
.btn-info {
    --bs-btn-color: #000;
    --bs-btn-bg: #90c9c1;
    --bs-btn-border-color: #90c9c1;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #6eb4ab;
    --bs-btn-hover-border-color: #6eb4ab;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #6eb4ab;
    --bs-btn-active-border-color: #6eb4ab;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #8fa5a2;
    --bs-btn-disabled-border-color: #8fa5a2;
}

.theme4, .btn-warning {
    background-color: #f8d98b;
    border-color: #f8d98b;
}
.btn-warning:hover {
    background-color: #f0c575;
    border-color: #f0c575;
}
.btn-warning:active {
    background-color: #f4a261!important;
    border-color: #f4a261!important;
}

.theme5 {
    background-color: #e76f51;
}

.min-width-limit {
    min-width: 320px;
}


/* 768 992 1200 */

@media (max-width: 991px) {
    .navdraw-btn {
        margin: 0 8px 10px!important;
        height: 38px!important;
        font-size: 18px;
    }
}

.cuttoff-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5em;
    max-height: 4.5em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
@media (min-width: 768px) and (max-width: 991px) {
    .cuttoff-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.5em;
        max-height: 3em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .hide-location {
        display: none;
    }
    .index-btn {
        margin-top: -32px!important;
        margin-bottom: 10px!important;
    }
}
@media (min-width: 1200px) {
    .cuttoff-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.5em;
        max-height: 7.5em; 
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    .index-btn {
        margin: -14px 18px 16px!important;
    }
}


.mapboxgl-popup-content {
    padding: 5px 10px 0!important;
}


#date-range {
    width: 100%;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 6px 13px;
    margin-bottom: 6px;
    color: rgb(99, 99, 99);
}
#date-range:hover {
    cursor: unset;
}
#date-range:focus {
    border: 1px solid rgb(212, 212, 212);
}